body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  list-style-type: none;
}

.gameboard {
  margin: 80px auto;
  display: flex;
  justify-content: center;
}

.box {
  background: #AD5D29;
  display: flex;
  width: 900px;
  padding: 52px 42px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  justify-content: center;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.centering {
  display: flex;
  justify-content: center;
}

.level-board {
  background-color: #843F22;
  padding: 8px 38px;
  border-radius: 10px;
}

.level {
  color: #FFCB29;
  font-size: 46px;
  margin: 0;
}

#level {
  color: #FFCB29;
  font-size: 92px;
  margin: 0;
  text-align: center;
}

.score-board {
  display: flex;
  justify-content: center;
}

.score {
  color: #FFCB29;
  margin: 10px 30px;
}

.score p {
  font-size: 19px;
  margin-bottom: 0;
  text-align: center;
}

.score h2 {
  font-size: 37px;
  margin: 0;
  text-align: center;
}

.time {
  color: #FFCB29;
  margin: 10px 30px;
}

.time p {
  font-size: 19px;
  margin-bottom: 0;
  text-align: center;
}

.time h2 {
  font-size: 37px;
  margin: 0;
  text-align: center;
}

#message {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin-top: 0;
}

.btn {
  background-color: #DE000F;
  width: 160px;
  padding: 12px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  border-radius: 10px;
  margin-top: 40px;
  text-align: center;
  color: #ffffff;
}

.game-info .centering a {
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.outer-board {
  width: 535px;
  height: 535px;
  display: flex;
  margin-left: 32px;
  background-color: #843F22;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 512px;
  width: 512px;
  margin: auto;
}

.card {
  height: 120px;
  width: 120px;
  padding: 4px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #0000004D;
}

.card:hover {
  opacity: 60%;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(173, 93, 41);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 15px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h1 {
  text-align: center;
  color: rgb(237, 161, 69);
  font-weight: bold;
}

.modal-content p {
  color: rgb(237, 161, 69);
  text-align: center;
}

.next {
  background-color:#A1BE02;
  color: #ffffff;
  margin: 20px;
  width: 180px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 3px 15px rgba(0,0,0,0.3);
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.next:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.quitGame {
  background-color:#DE000F;
  color: #ffffff;
  margin: 20px;
  width: 180px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 3px 15px rgba(0,0,0,0.3);
}

.quitGame:hover {
  transform: scale(1.05);
  cursor: pointer;
}